* {
    margin: 0 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

#contenedorPrincipal,
#header,
#footer {
    outline: 4px solid black;
}

#contenedorPrincipal {
    margin: 3vh;
    display: flex;
    flex-direction: column;
}

#header,
#footer {
    padding: 10px;
}

#header{
    margin-bottom: 1%;
}

#login{
    float: right;
}

#footer {
    margin-top: 1%;
}

#contenido,
#controles,
#listaReproduccion {
    padding: 10px;
}

#contenido{
    text-align: center;
    background-color: #141414;
}



#botones{
    margin-top: 0.5em;
}

#cuerpo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenedorReproductor {
    flex-grow: 3;
}

#listaReproduccion {
    flex-grow: 0.3;
   /* border: 4px solid black;*/
}

.archivo {
    border-radius: 10px;
    text-align: left;
    padding: 15px;
    background-color:grey;
}

.archivo:hover {
    transition: 0.2s all ease;
    color: white;;
    background-color:#444;
    padding-left: 2px;
}

/* Menu acordeon */

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

button:hover {
    transition: all .2s;
    background-color: #4CAF50;
    transform: scale(2);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0;
    background-color: white;
    
}

/* Fin menu acordeon */

video,
audio {
    align-self: center;
    width: 100%;
    height: 500px;
}

#controles {
    align-self: flex-end;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#temporizador {
    display: flex;
}

#barraTiempo {
    flex-grow: 3;
}

#tiempoTranscurrido {
    text-align: right;
    align-self: center;
    flex-grow: 1;
}

/* Barras de progreso */

#barraTiempo {
  -webkit-appearance: none;
  width: 80%;
  margin: 8.85px 0;
}
#barraTiempo:focus {
  outline: none;
}
#barraTiempo::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  background: #000000;
  border-radius: 5px;
  border: 1.5px solid #010101;
}
#barraTiempo::-webkit-slider-thumb {
  border: 3.2px solid #000000;
  height: 22px;
  width: 13px;
  border-radius: 6px;
  background: #0a6684;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.35px;
}
#barraTiempo:focus::-webkit-slider-runnable-track {
  background: #121212;
}
#barraTiempo::-moz-range-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  background: #000000;
  border-radius: 5px;
  border: 1.5px solid #010101;
}
#barraTiempo::-moz-range-thumb {
  border: 3.2px solid #000000;
  height: 22px;
  width: 13px;
  border-radius: 6px;
  background: #0a6684;
  cursor: pointer;
}
#barraTiempo::-ms-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#barraTiempo::-ms-fill-lower {
  background: #000000;
  border: 1.5px solid #010101;
  border-radius: 10px;
}
#barraTiempo::-ms-fill-upper {
  background: #000000;
  border: 1.5px solid #010101;
  border-radius: 10px;
}
#barraTiempo::-ms-thumb {
  border: 3.2px solid #000000;
  height: 22px;
  width: 13px;
  border-radius: 6px;
  background: #0a6684;
  cursor: pointer;
  height: 4.3px;
}
#barraTiempo:focus::-ms-fill-lower {
  background: #000000;
}
#barraTiempo:focus::-ms-fill-upper {
  background: #121212;
}

/* Volumen */

#volumen {
  -webkit-appearance: none;
  margin: 8.4px 0;
}
#volumen:focus {
  outline: none;
}
#volumen::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.2px;
  cursor: pointer;
  background: #000000;
  border-radius: 5px;
  border: 1.5px solid #010101;
}
#volumen::-webkit-slider-thumb {
  border: 0.9px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 48px;
  background: #0a6684;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.9px;
}
#volumen:focus::-webkit-slider-runnable-track {
  background: #121212;
}
#volumen::-moz-range-track {
  width: 100%;
  height: 1.2px;
  cursor: pointer;
  background: #000000;
  border-radius: 5px;
  border: 1.5px solid #010101;
}
#volumen::-moz-range-thumb {
  border: 0.9px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 48px;
  background: #0a6684;
  cursor: pointer;
}
#volumen::-ms-track {
  width: 100%;
  height: 1.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#volumen::-ms-fill-lower {
  background: #000000;
  border: 1.5px solid #010101;
  border-radius: 10px;
}
#volumen::-ms-fill-upper {
  background: #000000;
  border: 1.5px solid #010101;
  border-radius: 10px;
}
#volumen::-ms-thumb {
  border: 0.9px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 48px;
  background: #0a6684;
  cursor: pointer;
  height: 1.2px;
}
#volumen:focus::-ms-fill-lower {
  background: #000000;
}
#volumen:focus::-ms-fill-upper {
  background: #121212;
} 

